@import url('https://fonts.googleapis.com/css?family=Rubik:300&display=swap');
html {
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

body {
  max-width: 800px;
  margin: auto;
}